.app {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    background-color: #00A9CC;
    width: 100%;
    min-height: 100vh
}

.lists {
    max-height: 700px;
    overflow: auto;
    position: relative;
}

.to-do {
    padding-top: 30px;
}

.header {
    text-align: center;
}

.header-title {
    color: white;
}

.task, .add-task {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 9px;
    color: #58C9E7;
    padding: 0 20px;
    margin: 25px auto;
}

.add-task {
    background-color: #d184845c;
    width: fit-content;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    padding: 0 100px;
}

.add-task:hover {
    background-color: #1111115c;
    transition: 0.5s;
}

.task img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.add-task {
    cursor: pointer;
}

.loader {
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    width: 50%;
    border: 1px solid #888;
    border-radius: 9px;
    margin: auto;
    padding: 20px;
}

.modal-content input {
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #58C9E7;
    border: none;
    border-radius: 9px;
    padding: 10px;
    outline: none;
}

.modal-content input::placeholder {
    color: white;
}

.sub-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    color: #58C9E7;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.done {
    text-align: end;
    margin-top: 25px;
}

.done button {
    font-weight: bold;
    color: #58C9E7;
    border-radius: 9px;
    border-color: #58C9E7;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.done button:disabled {
    opacity: 0.5;
    cursor: unset;
}

.empty-tasks {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.error-text {
    font-weight: bold;
    color: red;
    position: absolute;
    top: 160px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #58C9E7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.logo {
    animation: move-logo 30s infinite;
    opacity: 1;
    margin-top: 40px;
}

@keyframes move-logo {
    50% {opacity: 0.5}
    100% {opacity: 0.75}
}
